@charset "utf-8";

div{
    width: 400px;
    height: 200px;
    border:90px solid transparent;
    -webkit-border-image:url(Resim.jpg) 25 30;/*Parametreler:1. :Sağ üstten yükseklik,2. :Sağ üstten genişlik, 3. :Sağ alttan yükseklik, 4. :Sol üstten genişlik*/
    -moz-border-image:url(Resim.jpg) 25 30;/*Parametreler:1. :Sağ üstten yükseklik,2. :Sağ üstten genişlik, 3. :Sağ alttan yükseklik, 4. :Sol üstten genişlik*/
    -o-border-image:url(Resim.jpg) 25 30 ;/*Parametreler:1. :Sağ üstten yükseklik,2. :Sağ üstten genişlik, 3. :Sağ alttan yükseklik, 4. :Sol üstten genişlik*/
    -ms-border-image:url(Resim.jpg) 25 30;/*Parametreler:1. :Sağ üstten yükseklik,2. :Sağ üstten genişlik, 3. :Sağ alttan yükseklik, 4. :Sol üstten genişlik*/
    border-image: url(Resim.jpg) 25 30;/*Parametreler:1. :Sağ üstten yükseklik,2. :Sağ üstten genişlik, 3. :Sağ alttan yükseklik, 4. :Sol üstten genişlik*/
        
    }