@charset "utf-8";
div{
    width: 400px;
    height: 200px;
    border:90px solid transparent;
    -webkit-border-image:url(Resim.jpg) 30 round;
    -moz-border-image:url(Resim.jpg) 30 round;
    -o-border-image:url(Resim.jpg) 30 round;
    -ms-border-image:url(Resim.jpg) 30 round;
    border-image: url(Resim.jpg) 30 round;
        
    }
    div{
        -webkit-border-image:initial;
        -moz-border-image:initial;
        -o-border-image:initial;
        -ms-border-image:initial;
        border-image: initial;
    }