@charset "utf-8";
div{
    width: 500px;
    height: 300px;
    border: 10px solid blue;
    border-bottom-style: dashed;
}
#bir{
    width: 400px;
    height: 30px;
    border: 5px solid yellow;
    border-bottom-style: inherit;
}
#iki{
    width: 400px;
    height: 30px;
    border: 5px solid black;
    border-bottom-style: inherit;
}
#üç{
    width: 400px;
    height: 30px;
    border: 5px solid red;
    border-bottom-style: inherit;
}
#dört{
    width: 400px;
    height: 30px;
    border: 5px solid green;
    border-bottom-style: inherit;
}
beş{
    width: 400px;
    height: 30px;
    border: 5px solid gray;
    border-bottom-style: inherit;
}