@charset "utf-8";

div{
    width: 1000px;
    height: 90px;
    border: 20px solid red;
    border-bottom:10px double #0000FF;
}
p{
    width: 750px;
    height: 10px;
    border:5px solid green;
    border-bottom:inherit;/* border-bottom:10px double #0000FF;*/


}